*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

.top{
    display: flex;
    height: 86px;
    background-color: #14017D;
}

.top img{
    width: 71px;
    height: 58px;
    border-radius: 10px;
    margin: 13px 0 0 100px;
}

.top h1{
    margin: 28px 0 0 15px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2em;
}

.email{
    color: #ffffff;
    margin: 25px 0 0 80px;
}

.email p{
    margin-top: 8px;
}

.call{
    color: #ffffff;
    margin: 25px 0 0 100px;
}

.call p{
    margin-top: 8px;
}

.navigation{
    background-color: #ffffff;
    width: auto;
    height: 86px;
    position:relative; 
}

nav{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
}

nav ul{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255,0.3);
    z-index: 1;
    
}

nav ul li{
    margin-left: 32px;
    line-height: 100%;
    float: left;
    
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 35px;
    padding-bottom: 35px; 
    margin: 0 25px;
    text-decoration: none;
     
}

nav ul li a:hover{
    color: #ff0000;
    background-color: rgb(255,255,255,0.3);
    height: 1px;
}

.img-container{
    height: 0%;
}

.navigation img{
    position: relative;
    top: 0px;
    left: 0px;
    height: 820px;
    width: 1349px;
}

main{
    margin: 0 89.500px;
    max-width: 1170px;
    
}

.part-1{
    margin-top: 900px;
}

.part-1 .admission{
    display: flex;
    margin-bottom: 50px;
}

.part-1 .admission .course-name{
    width: 100%;
    font-family: sans-serif;
    color: #00062b;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2.5rem;
}

.part-1 .admission .course-name .course-name-1{
    margin-bottom: 25px;
}

.part-1 .admission .button{
    margin-left: 170px;
}

.part-1 .admission .button .apply{
    margin-top: 10px;
    margin-bottom: 55px;
}

.part-1 .admission .button a{
    background-color: #14017D;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 40px 15px 34px;
    text-decoration: none;
}

.part-1 .admission .button span{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.part-1 .admission .button .apply .apply-span:hover{
    background-color: #ff0000;
}

.part-1 .admission .button .number :hover{
    background-color: #ff0000;
    padding: 20px 20px 20px 20px;
}

.part-1 .course-image{
    display: flex;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.part-1 .course-image .image-1{
    margin-right: 3px;
}

.part-1 .course-image .image-2{
    margin-left: 3px;
}

.part-1 img{
    width: 570px;
    max-width: 100%;
    height: 471.83px;
}

.part-1 .course-image img:hover{
    transform: scale(.875);
    transition-duration: 0.4s;
}


.part-1 .admission .button{
    width: 25%;
}










.messege .chairman-messege .chairman-messege-h2{
    text-align: center;
    margin: 100px 0px 40px 0px;
    font-size: 25px;
}

.messege .chairman-messege .chairman-messege-container{
    display: flex;
    padding: 0 80px 0 80px;
    align-items: center;
    justify-content: center;
}

.messege .chairman-messege .chairman-messege-container .chairman-messege-image{
    width: 100%;
    height: 200%;
}

.messege .chairman-messege .chairman-messege-container .chairman-messege-image img{
    border: 1px solid #000000;
}

.messege .chairman-messege .chairman-messege-container .chairman-messege-p{
    font-size: 20px;
    padding-left: 90px;
    margin-top: 0px;
    text-align: left;
    color: #000000;
    font-family: "Heebo", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}

.messege .chairman-messege .chairman-messege-container .chairman-messege-p .chairman-messege-p2{
    opacity: .7;
}

.messege .chairman-messege .chairman-messege-container .chairman-messege-p .chairman-messege-name{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    line-height: 1.5rem;
}







.director-messege .director-messege-h2{
    margin: 80px 0 50px 0;
    text-align: center;
    font-size: 25px;
}

.messege .director-messege .director-messege-container{
    display: flex;
    padding: 0 50px 0 30px;
    align-items: center;
    justify-content: center;
}

.messege .director-messege .director-messege-container .director-messege-image img{
    border: 1px solid #000000;
}

.messege .director-messege .director-messege-container .director-messege-p{
    font-size: 20px;
    padding-right: 60px;
    margin-top: 30px;
    text-align: left;
    color: #000000;
    font-family: "Heebo", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
}

.messege .director-messege .director-messege-container .director-messege-p .director-messege-p2{
    opacity: .7;
}

.messege .director-messege .director-messege-container .director-messege-p .director-messege-name{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    line-height: 1.5rem;
}





.gallery{
    margin-top: 150px;
    display: flex;
    margin-bottom: 100px;
}

.gallery .gallery-1{
    padding-right: 10px;
}

.gallery .gallery-2{
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.gallery .gallery-3{
    margin-left: 10px;
}

.gallery .gallery-3 .gallery-3-2{
    margin-top: 10px;
}

footer{
    background-color: #14017D;
    width: 1349px;
    height: 775.047px;
    padding-left: 89.500;
    padding-right: 89.500;
}

.email .email-container{
    display: flex;
    position: relative;
    padding-top: 90px;
}

.email .email-container .email-writing{
    padding-left: 20px;
}

.email .email-container .email-writing .email-writing-h3{
    margin: 0 0 20px;
    font-size: 18px;
}

.email .email-container .email-writing .email-writing-p{
    color: #A1A3B1;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
}

.email .email-container .enter-email{
    display: flex;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
}

.email .email-container .enter-email form{
    background: #ffffff;
    width: 460px;
    height: 65px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
    margin-left: 20px;
}

form button{
    background: #FFA100;
    border: none;
    outline:none;
    color: #ffffff;
    width: 100px;
}

form button:hover{
    background-color: #ff0000;
}

.line{
    margin: 0 89.500px;
    max-width: 1170px;
    width: auto;
    height: 0.2px;
    background-color: #ffffff;
    margin-top: 70px;
}


.last{
    margin: 0 89.500px;
    max-width: 1170px;
    margin-top: 100px;
    display: flex;
}

.last h4{
    color: #FFA100;
}

.last .about-us{
    width: 301.812px;
    height: 253.391px;
    padding-right: 49px;
}

.last .about-us p{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: 30px;
}

.last ul{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.last ul li{
    line-height: 45px;
    list-style: none;
    padding-left: 10px;
}

.last ul li::before{
    content: "\276F";
    color: #FFA100;
}

.last ul li a{
    text-decoration: none;
    color: #ffffff;    
}

.last .links{
    margin-left: 100px;
}

.last .program{
    margin-left: 150px;
}

.last .hours{
    margin-left: 150px;
}